.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.control_box {
   display: flex;
   align-items: center;
   gap: 52px;
}
.radio_box {
   display: flex;
   gap: 40px;
}
.buttons_sorting{
   display: flex;
   gap: 12px;
}
.button_reset {
   margin-left: 80px;
}
.buttons {
   display: flex;
}